body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  padding-top: 18%;
  padding-left: 18%;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(96, 68, 38);
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: aliceblue;
}

.side-bar {
  position: fixed;
  top: 18%;
  left: 0px;
  bottom: 0px;
  background-color: rgb(101, 87, 71);
  width: 18%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

.side-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 18%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.side-bar button:hover {
  background-color: rgb(181, 170, 156);
}

.side-bar button:active {
  background-color: rgb(221, 208, 190);
}

.home-image-container img {
  width: 100%;
  object-fit: contain;
}

.menu-items-container {
  display: grid;
  column-gap: 3%;
  row-gap: 5%;
}

.menu-item {
  border: solid 1px rgb(88, 87, 87)
}

@media (max-width: 400px) {
  .menu-items-container {
  grid-template-columns: 1fr;
}
}

@media (min-width: 400px) and (max-width: 1000px){
  .menu-items-container {
  grid-template-columns: 1fr 1fr;
}
}

@media (min-width: 1000px) {
  .menu-items-container {
  grid-template-columns: 1fr 1fr 1fr;
}
}

.menu-item img {
  width: 100%;
}
